body {
    overflow-x: hidden;
}
     .menu-list {
          max-width: 100%;
          margin: auto;
          border-radius: 10px;
          box-shadow:10px 5px;
          color:rgb(218, 186, 218);
      }

      .geeks {
          overflow: hidden;
          background-color: rgb(220, 235, 240);
          position: relative;
      }

      .geeks #menus {
          display: none;
      }

      .geeks a {
          text-decoration: none;
          color: black;
          font-weight: 500;
          padding: 14px 16px;
          font-size: 20px;
          display: block;
      }

      .geeks a.icon {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
      }

      .grid {
          display: grid;
          grid-template-columns: auto auto auto;
      }
      .grids {
        display: grid;
        grid-template-columns: auto auto auto;
    }
  


      .container .greeting button {
          color: purple;
          border-radius: 15px;
          background-color: rgb(220, 235, 240);

      }

      .container .greeting {
          margin-top: 80px;
      }

      .grid .item i {
          color: purple;
      }

      form i {
          width: 250px;
          height: 40px;
          background-color: rgb(230, 244, 248);
          padding: 15px;
          border-radius: 50px;
          font-size: 10px;
          font-weight: bold;
      }

      form input {
          margin-top: 10px;
          width: 505px;
          height: 40px;
          background-color: rgb(230, 244, 248);
          padding: 10px;
          border-radius: 50px;
          border: none;
      }

      form textarea {
          margin-top: 10px;
          width: 505px;
          border-radius: 50px;
          background-color: rgb(230, 244, 248);
          border: none;
          padding: 10px;
      }

      form button {
          width: 60px;
          border-radius: 50px;
          color: purple;
          background-color: rgb(220, 235, 240);

      }
      form button:hover {
        width: 60px;
        border-radius: 50px;
        color: purple;
        background-color: rgb(154, 216, 213)

    }

      #footer {
          width: 100%;
          top: 0;
          right: 0;
          z-index: 1000;
          display: flex;
          align-items: center;
          background-color: rgb(220, 235, 240);
          position: sticky;
          justify-content: space-between;
          transition: all .35s ease;
          padding: 10px;
      }

      #footer-item {
          display: flex;
          justify-content: center;
          align-items: center;
      }

      #footer-item li {
          list-style: none;
          padding: 0 20px;
      }

      #footer-item li a {
          text-decoration: none;
          font-size: 16px;
          font-weight: 600;
          color: black;
          transition: 0.3s ease;
      }

      #footer-item li a i {
          color: purple;
      }

      @media screen and (max-width:480px) {
/* mobile */
        body{
            overflow-x: hidden;
        }
          .grid {
              display: grid;
              grid-template-columns: auto;
          }
          .form i{
            margin-top:10px;
          }
        }
/* tab */
        @media screen and (max-width:767px) {

            body{
                overflow-x: hidden;
            }
              .grid {
                  display: grid;
                  grid-template-columns: auto auto;
              }
              .form i{
                margin-top:10px;
              }
            }
/* desktops */
            @media screen and (max-width:1280px) {

                body{
                    overflow-x: hidden;
                }
                  .grid {
                      display: grid;
                      grid-template-columns: auto ;
                  }
                  .grids {
                    display: grid;
                    grid-template-columns: auto;
                    margin-left:20px;
                }
                  .form i{
                    margin-top:10px;
                  
                  }
                  
                }